<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- APP / VUE ENTRY -->
    <div class="container" id="app">
        <!-- SIDEBAR -->
        <aside class="sidebar">
            <!-- Header -->
            <header class="app-headers">
                <div class="header-left">
                    <div class="avatar">
                        <img src="./img/avatar_8.jpg" alt="Your Avatar">
                    </div>
                    <div class="username">Nome Utente</div>
                </div>
                <div class="header-right c-grey">
                    <ul>
                        <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                        <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </header>
            <!-- Notification -->
            <div class="notification">
                <i class="fas fa-bell-slash"></i>
                <div class="notification-text">
                    <div class="b">Ricevi notifiche di nuovi messaggi</div>
                    <a href="#" class="fs-12 b c-darkgrey unline">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- Search -->
            <div class="search c-grey">
                <a href="#"><i class="fas fa-search"></i></a>
                <input 
                type="text" 
                class="fs-12" 
                placeholder="Cerca o inizia una nuova chat"
                v-model.trim="searchModel"
                @keyup="search">
            </div>
            <!-- Chat List -->
            <div class="chat-list">
                <ul>
                    <li 
                    v-for="(contact, index) in contacts"
                    :class="{ active: index == contactIndex}"
                    @click="setContact(index)"
                    v-show="contact.visible == true"
                    >
                        <div class="avatar">
                            <img :src="'./img/avatar' + contact.avatar +'.jpg'" :alt="contact.name + 'Avatar'">
                        </div>
                        <div class="username">{{contact.name}}</div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- MAIN CONTENT -->
        <main class="main-content">
            <!-- Header -->
            <header class="app-headers">
                <div class="header-left">
                    <div class="avatar">
                        <img :src="'./img/avatar' + contacts[contactIndex].avatar +'.jpg'" :alt="contacts[contactIndex].name + 'Avatar'">
                    </div>
                    <div class="info">
                        <div class="username">{{ contacts[contactIndex].name }}</div>
                        <div class="last-access c-grey fs-12 b">Ultimo accesso oggi alle 10.35</div>
                    </div>
                </div>
                <div class="header-right c-grey">
                    <ul>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </header>
            <!-- Main Chat -->
            <div class="main-chat">
                <div class="chat-container">
                    <div v-for="message in contacts[contactIndex].messages"
                    :class="'message ' + message.status">
                        <div class="text">{{message.message}}</div>
                        <div class="info c-grey">{{message.date}}</div>
                    </div>
                </div>
            </div>
            <!-- Chat Footer -->
            <footer class="chat-footer c-darkgrey">
                <a href="#"><i><i class="far fa-smile"></i></i></a>
                <input 
                type="text" 
                placeholder="Scrivi un messaggio"
                @keyup.enter="addNewMessage()"
                v-model.trim="newMessage"
                >
                <a href="#"><i><i class="fas fa-microphone"></i></i></a>
            </footer>
        </main>
    </div>

    <!-- JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js' integrity='sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==' crossorigin='anonymous'></script>
    <script src="./js/script.js"></script>
</body>
</html>